<!doctype html>
<html lang="en">
<head>
<title>FMC Dashboard</title>
<meta charset="utf-8">

<link href="app.css" type="text/css" rel="stylesheet"> 
</head>
<body ng-app="FMCDashboard">
<div id="table">
<div class="col">
	<div class="header">
		<div class="tableItem">
			<div> </div>
			<div><img src="images/logo1.png" style="margin-top: -6px;"/> </div>
			<div><span>SPS CAPEX</span></div>
		</div>
	</div>
	<div ng-repeat="item in table1">
		<div class="tableItem">
			<div style="text-align: left;"> {{item.name}} <br>
				{{item.subname}} </div>
			<div style="text-align: center;"><span class="glow" ng-class="{'show-glow' : glow(item)}"></span> <img ng-if="desaturate(item)" ng-src="{{item.image}}" /> <img ng-if="!desaturate(item)" ng-src="{{item.imageGrey}}" /> </div>
			<div>
				<div class="text-blue">Non-Integrated</div>
				<div class="progressbar">
					<div class="percent-blue" ng-style="{'width': item.nonIntegrated[currentState] + '%'}"></div>
				</div>
				<div class="progressbar">
					<div class="percent-green" ng-style="{'width': item.integrated[currentState] + '%'}"></div>
				</div>
				<div class="text-green">Integrated</div>
			</div>
		</div>
	</div>
</div>
<div class="col">
	<div class="header">
		<div class="tableItem">
			<div> </div>
			<div><img src="images/logo2.png" style="margin-top: 11px;"/> </div>
			<div> <span>SURF CAPEX</span> </div>
		</div>
	</div>
	<div ng-repeat="item in table2">
		<div class="tableItem">
			<div style="text-align: left;"> {{item.name}} <br>
				{{item.subname}} </div>
			<div style="text-align: center;"><span class="glow" ng-class="{'show-glow' : glow(item)}"></span> <img ng-if="desaturate(item)" ng-src="{{item.image}}" /> <img ng-if="!desaturate(item)" ng-src="{{item.imageGrey}}" /> </div>
			<div>
				<div class="text-blue">Non-Integrated</div>
				<div class="progressbar">
					<div class="percent-blue" ng-style="{'width': item.nonIntegrated[currentState] + '%'}"></div>
				</div>
				<div class="progressbar">
					<div class="percent-green" ng-style="{'width': item.integrated[currentState] + '%'}"></div>
				</div>
				<div class="text-green">Integrated</div>
			</div>
		</div>
	</div>
</div>
<div id="cart" ng-class="{'cart-slide-right': currentState == maxState}">
	<div class="total-saving" ng-style="{'width': graphState + '%'}"> <img ng-class="{'cart-slide-left': currentState == maxState}" src="images/Draft03.png" />text-slide-left </div>
	<div class="total-saving-text" ng-class="{'text-slide-left': currentState == maxState}" ng-style="graphState > 33 ? {'opacity': '1.0', 'left': graphState + 2 + '%'} : {'opacity': '0', 'left': graphState + 2 + '%'}">${{counterSaving}}M<br>
		Total Saving</div>
	<img src="images/Draft01.png" ng-class="{'hide-graph': currentState == maxState}"/> 
	<img src="images/Draft02.png" class="full-graph" ng-class="{'show-graph': currentState == maxState}"/> 
</div>
	
<script src="js/angular.js"></script>
<script src="js/data.js"></script>
<script src="js/app.js"> </script>
</body>
</html> 
